

# Файлы среды разработки
.vscode/
.idea/

# Файлы настроек Flask
instance/
*.pyc

# Файлы базы данных SQLite
*.db

# Виртуальная среда Python (если используется)
venv/
env/

# Логи приложения
logs/

# Кэш Flask
__pycache__/

# Другие временные и сгенерированные файлы
*.pyc
*.pyo
*.pyd
*.swp
*~
__pycache__/
*.bak
*.tmp
*.log
